body {
	background-color: #3E64B2;
	color:#FFF;
	font-family: helvetica, verdana, sans-serif;

}

header {
	padding-left: 5%;
	margin-top: 5%;

}

.container {
	margin-bottom: 5%;
	font-size: large;

}

p {
	text-align: left;
}


img:hover{

}

#myCarousel {
    margin: auto;
	position:relative;
	margin-top:15px;
	margin-bottom:20px;
}
.carousel-control.left {
	background-image:none;
}

.carousel-control.right {
	background-image:none;
}

.carousel-caption {
	background-color: rgba(0,0,0,0.65);
	text-align: left;
	top: 0;
    bottom: auto;
}

img{
	margin:auto;
	padding-bottom:10px;
}

#footer {
	background-color: #3E64B2		;
}

#footer_p {

	padding: 11px;
}

a {
	color: #fff;
}

a:hover{
	color: #fff;
	text-decoration: underline;
}

