body {
	background-color: #3E64B2;
	color:#FFF;
}

header {
	padding-left: 5%;
	padding-bottom: 2%;

}

.container {


}

#footer {
	background-color: #3E64B2		;
}

#footer_p {

	padding: 11px;
}

img:hover{

}

#myCarousel {
    margin: auto;
	position:relative;
	margin-top:15px;
	margin-bottom:20px;
}
.carousel-control.left {
	background-image:none;
}

.carousel-control.right {
	background-image:none;
}

img{
	margin:auto;
	padding-bottom:10px;
}